* {
    border: 1px solid red;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f9faf8;
    background-color: #1f2937;
}

.header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

.footer-container {
    background-color: blueviolet;
}

.top-container {
    background-color: green;
    display: flex;
    flex-direction: column;
}

.imagebox-container { /* holds the 4 image boxes */
    display: flex;
    justify-content: space-around;
}

.imagebox {
    height: 200px;
    width: 200px;
}